[Unit]
Description=Local Rest Server

[Service]
WorkingDirectory=/home/pi/java/
ExecStart=/usr/bin/java -jar /home/pi/java/LocalRestServer/LocalRestServer.jar /home/pi/java/LocalRestServer/localDatabase.json 6491
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=localrestserver
User=pi

[Install]
WantedBy=multi-user.target
